<!-- NAv ba anterior-->

<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" target="_blank">
                <span> • ArchITecture • </span>
                <img>

            </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> •ArchITecture• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">

                <li class="nav-item p-0">
                    <a class="nav-link" href="https://github.com/AVBLANCO/TesisArquitecturaEMVM" placement="bottom" target="_blank" tooltip="Repositorio codigo">
                        <i class="fab fa-github"> </i>
                        <p class="d-lg-none d-xl-none">Git Hub</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.instagram.com/CreativeTimOfficial" placement="bottom" target="_blank">
                        <i class="fab fa-docker"> </i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
                <!--men en la parte izquierda-->
                <li class="dropdown nav-item" dropdown>
                    <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle href="javascript:void(0)">
                        <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Principal
                    </a>
                    <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>

                        <a class="dropdown-item" [routerLink]="['/register']">
                            <i class="tim-icons icon-bullet-list-67"> </i> Sesion
                        </a>
                        <a class="dropdown-item" [routerLink]="['/landing']">
                            <i class="tim-icons icon-image-02"> </i> Informes
                        </a>
                        <a class="dropdown-item" [routerLink]="['/profile']">
                            <i class="tim-icons icon-single-02"> </i> Perfil
                        </a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link btn btn-default d-none d-lg-block" href="javascript:void(0)" (click)="scrollToDownload(target)">
                        <i class="tim-icons icon-cloud-download-93"> </i> Download
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- <app-navbar></app-navbar> -->

<div class="wrapper" style="background-color: #707070 !important;">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center">
                <br>
                <br>
                <br>
                <br>
                <h1 class="h1-seo">•ArchITecture•</h1>
                <h3>
                    es una iniciativa de profesores y estudiantes de la UFPS de los programas de Arquitectura e Ingeniería de Sistemas para lideras la transformación digital de la región desde la Arquitectura y aprovechando las TIC (Tecnologías de Información y Comunicación
                    en inglés IT Information Technology)
                </h3>
            </div>
        </div>
    </div>
    <div class="main" style="background-color: #707070 !important;">

        <div class="section section-basic" id="basic-elements" style="background-color: #707070 !important;">
            <img class="path" src="assets/img/path1.png" />

            <div class="container" style="background-color: #707070 !important;">

            </div>
            <footer class="footer" style="background-color: #707070 !important;">
                <div class="container" style="background-color: #707070 !important;">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="title">•ArchITecture•</h1>
                            <br>
                        </div>
                        <div class="col-md-3">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/home']"> Principal </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/landing']"> Informacion </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/register']"> Informes </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/profile']"> Perfil </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contactenos
              </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                Sobre Nosotros
              </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="title">Siguenos:</h3>
                            <div class="btn-wrapper profile">
                                <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/creativetim" target="_blank">
                                    <i class="fab fa-twitter"> </i>
                                </a>
                                <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/creativetim" target="_blank">
                                    <i class="fab fa-facebook-square"> </i>
                                </a>
                                <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://dribbble.com/creativetim" target="_blank">
                                    <i class="fab fa-dribbble"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>